@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;

}

body {
  cursor: url("/images/beetlecursor.png") 2 2, pointer;
  ;
}

:root {
  /* Colours */
  --primary-orange: #FF4E00;
  --primary-green: #88D700;
  --primary-purple: #730260;
  --primary-blue: #B6F0FF;
  --primary-yellow: #FEF96E;
  --background-light-green: #C3EB80;
  --background-dark-green: #A0DF33;
  --background-cream: #fff3df;
  --stroke-green: #497400;
  --dark-brown: #684232;

  /* Fonts */
  --title-font: "Press Start 2P", system-ui;
  --text-font: "Fira Sans", sans-serif;
  /* Border radius */
  --border-radius-sm: 0.2rem;
  --border-radius-base: 0.4rem;
  --border-radius-lg: 0.6rem;
}

/* Text and Headings */
.whiteAndStroke {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.note {
  font-size: 0.8rem;
} 
h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 1.8rem;
}

h5 {
  font-family: var(--text-font);
  font-size: 1.5rem;
  margin: 0.5rem;
}

/* Map styles */
.mapboxgl-popup .mapboxgl-popup-tip {
  border-top-color: var(--background-cream);
}
.mapboxgl-popup .mapboxgl-popup-close-button {
  margin-top: 5px;
  margin-right: 5px;
}
.mapboxgl-popup .mapboxgl-popup-close-button span {
  color: var(--dark-brown);
}
.mapboxgl-popup .mapboxgl-popup-content {
  font-family: var(--text-font);
  font-size: 0.8rem;
  border-radius: 20px;
background-color: var(--background-cream);
box-shadow: 2px 2px 0px 2px var(--dark-brown);
}

.mapboxgl-popup .mapboxgl-popup-content .popupPropertyTitle {
  font-weight: 600;
}
/* Hide selected properties inside Mapbox popups */
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-jurisdicao,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-site_code,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-gid,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-publica1, .mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-sigla,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-inspire_id,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-nut_ii,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-objectid,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-processo,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-thematic_id,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-globalid, 
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-propostasid, 
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-propostasclass,
.mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-publica1, .mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-integrado_conj, .mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-outras_des, .mapboxgl-popup .mapboxgl-popup-content .popupProperty.prop-situacao_a {
  display: none !important;
}

/* Buttons */
.buttonPill {
  text-decoration: none;
  padding: 10px 14px;
  background-color: var(--background-light-green);
  border: 4px solid var(--stroke-green);
  border-radius: 11px;
}

buttonPill:hover,
buttonPill:focus {
  background-color: var(--stroke-green);
  color: white;
  border: 4px solid var(--background-light-green);
}

.buttonPillOrange {
  text-decoration: none;
  padding: 10px 14px;
  background-color: var(--primary-green);
  border: 4px solid white;
  border-radius: 11px;
}

buttonPillOrange:hover,
buttonPillOrange:focus {
  background-color: white;

  border: 4px solid var(--primary-orange);
}

/* Media Queries - Phones */
@media (max-width: 481px) {
  h1 {
    font-size: 2.5rem;
  }

  .whiteAndStroke {
    -webkit-text-stroke-width: 1.5px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h5 {
    font-family: var(--text-font);
    font-size: 1.3rem;
  }
}

/* dark and light mode toggle styles
  html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }*/