---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/essays/">Essays</a>
		<h1>Welcome to Treeba Digital Garden</h1>
        <h2>Here you'll find my free exploration focused on regeneration in Western Iberia, along with personal essays, notes and stories. </h2>
	</body>
</html>
