---
import Social from './Social.astro';
---

<footer>
    <Social platform="instagram" username="margarida__ps" />
    <Social platform="github" username="biocas" />
    <a class="substack" href={`https://substack.com/@margaridasalvado`}>Substack</a>
    <Social platform="youtube" username="@JoshandMargarida" />  
</footer>

<style>
    .substack {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  </style>